@import url($url-font-primary);

:root {
    //COLORS
    --color-primary: #876671;
    --color-black:#0F151B;
    --color-white:#FFFFFF;
    --color-gray:#AEB6C3;
    --color-gray-light:#F6F9FC;
    --color-gray-dark: #4F5C67;
    --color-red-light:#EA6157;
    --color-red-black:#A52016;
    --color-misty-rose:#F8D5D7;
    --color-rose-black:#160106;
    --color-green: #04C35C;;
}
// FONTS
$font-primary: 'Raleway', sans-serif;
