.o-color{
    &--primary{
        color: var(--color-primary);
    }
    &--white{
        color: var(--color-white);
    }
    &--black{
        color: var(--color-black);
    }
    &--gray{
        color: var(--color-gray);
    }
    &--gray-light{
        color: var(--color-gray-light);
    }
    &--gray-dark{
        color: var(--color-gray-dark);
    }
    &--red-light{
        color: var(--color-red-light);
    }
    &--red-black{
        color: var(--color-red-black);
    }
    &--misty-rose{
        color: var(--color-misty-rose);
    }
    &--rose-black{
        color: var(--color-rose-black);
    }
}