@mixin select-size-color($size, $color){
    @if $size == strong and $color == roseBlack{
        border: 1px solid var(--color-rose-black);
    }
    @if $size == strong and $color == redBlack{
        width: 100%;
        height: 1px;
        background-color: var(--color-red-black);
        opacity: 0.8;
    }
    @if $size == xlstrong and $color == redBlack{
        width: 100%;
        height: 1.5px;
        background-color: var(--color-red-black);
        opacity: 0.8;
    }
    @if $size == strong and $color == primary{
        border: 1px solid var(--color-primary);
    }
    @if $size == light and $color == roseBlack{
        border: 0.7px solid var(--color-rose-black);
    }
}


.o-divider{
    width: 100%;
    // margin-top: 45px;
    // margin-bottom: 45px;
    &-strong{
        &--roseBlack{
            @extend .o-divider;
            margin-top: 10px;
            margin-bottom: 10px;
            @include select-size-color(strong,roseBlack);
        }
    }
    &-strong{
        &--red-black{
            @extend .o-divider;
            @include select-size-color(strong,redBlack);
        }
    }
    &-xlstrong{
        &--red-black{
            @extend .o-divider;
            @include select-size-color(xlstrong,redBlack);
        }
    }
    &-strong{
        &--primary{
            @extend .o-divider;
            @include select-size-color(strong,roseBlack);
        }
    }
    &-light{
        &--roseBlack{
            @extend .o-divider;
            @include select-size-color(light,roseBlack);
        }
        &--primary{
            @extend .o-divider;
            @include select-size-color(light,primary);
        }
    }
  
}