.c-notice{
    padding-top: 15px;
    padding-bottom: 15px;

    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        @include md(){
            flex-direction: column;
            text-align: start;
            align-items: flex-start;
        }
    }

    &__link{
        text-decoration-line: underline;
        @include md(){
            margin-top: 2px;
        }
    }
}